{% extends 'IpfFrontBundle:layout:layout.html.twig' %}

{% block sideCategory %}
    <div class="col-md-3">
        <p class="lead">Vendre un produits </p>
        <div class="list-group">
            <a href="{{ path('product') }}" class="list-group-item">All</a>
            <a href="{{path('userproduct_new')}}" class="list-group-item">Ajouter mon produit</a>
            {{ render(controller('IpfFrontBundle:Category:list')) }}
        </div>
    </div>
    <br/>
    <br/>
    <br/>
{% endblock %}
{% block body -%}
    <div class="col-md-9">
        <div class="row">
            {% if entities %}
                {% for entity in entities %}
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">                        
                        {% for picture in entity.pictures %}
                            {% if loop.index  < 2 %}
                                <img src="{{ asset(picture.pictureUrl) }}" alt="">
                            {% endif %}
                        {% endfor %}


                        <div class="caption">
                            <h4><a href="#">{{ entity.productName }}</a>
                            </h4>
                            <p>{{ entity.productCategory.categoryName }}</p>
                            <a href="{{ path('userproduct_new', { 'id': entity.productId }) }}">Je veux vendre le mien !</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                Aucuns produits !
            {% endif %}
        </div>
    </div>
    {% endblock %}


