<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>{% block title %}Ulysse for you !{% endblock %}</title>
        {% stylesheets
            'bundles/Ipf/css/*'
            filter='cssrewrite' 
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body ng-app="ulysse">
        {% block nav %}
            <div ng-controller="NavbarCtrl">
                <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                    <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="nav navbar-nav navbar-left">
                            <a class="navbar-brand" href="{{path('userproduct')}}">Ulysse</a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="">Home</a>
                                </li>
                                <li>
                                    <a href="{{path('userproduct')}}">Acheter un produit</a>
                                </li>
                                <li>
                                    <a href="{{path('product')}}">Vendre un produit</a>
                                </li>
                                <li>
                                    <a href="#">Mon Compte</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                            </ul>

                        </div>
                        <div class="nav navbar-nav navbar-right">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" ng-click="toggleAction()">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>

                        <!-- /.navbar-collapse -->
                    </div>
                <!-- /.container -->
                </nav>
            </div>
            <br/>
            <br/>
            <br/>
            
        {% endblock %}

        <div ng-controller="CartCtrl">
            <div ng-if="toggle" class="toggle">
                <div class="sideBlock">
                    <label> Votre panier </label>
                    <table class="table">
                        <tr class="active">
                            <td>
                            bonjour
                            </td>
                        
                        </tr>
                        <tr class="active">
                            <td>
                            bonjour
                            </td>
                        </tr>
                       

                    </table>
                </div>
                
            </div>
        </div>

        <div class="container">
            <div class="row">
                {% block sideCategory %}{% endblock %}
                {% block body %}{% endblock %}
            </div>
        </div>
        
        

        {% javascripts
            '@IpfFrontBundle/Resources/public/js/jquery-1.11.3.js'
            '@IpfFrontBundle/Resources/public/js/angular/angular.min.js'
            '@IpfFrontBundle/Resources/public/js/angular/angular-animate.min.js'
            '@IpfFrontBundle/Resources/public/js/app/ulysse.js'
            '@IpfFrontBundle/Resources/public/js/app/cart/cart.js'
            '@IpfFrontBundle/Resources/public/js/app/navbar/navbar.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>