<div class="col-md-9">
    <div class="row">
        {% if entities %}
            {% for entity in entities %}
                {% if  entity.userproductSold == false %}
                    <div class="col-sm-4 col-lg-4 col-md-4">
                        <div id="thumb" class="thumbnail">
                            
                            {% for picture in entity.userproductProduct.pictures %}
                                {% if loop.index  < 2 %}
                                    <img src="{{ asset(picture.pictureUrl) }}" alt="">
                                {% endif %}
                            {% endfor %}
                            <div class="caption">
                                <h4 class="pull-right">€{{ entity.userproductPrice }}</h4>
                                <h4>
                                    <a href="{{ path('userproduct_show', { 'id': entity.userproductId }) }}">{{ entity.userproductProduct.productName }}</a>
                                </h4>
                                <p>{{ entity.userproductDescription | slice(0, 60) }} ...</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% else %}
            Aucuns produits !
        {% endif %}
    </div>
</div>